.btn {
    color: #132E35;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
    border-radius: 8px;
    background: #81FE88;
    padding: 12px 16px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    display: flex;
    gap: 8px;
    align-items: center;
}

.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.outline {
    color: #81FE88;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
    border-radius: 8px;
    background: transparent;
    padding: 12px 16px;
    cursor: pointer;
    border: 1px solid #81FE88;
    text-decoration: none;
}

.outline:hover,
.btn:hover {
    opacity: 0.6;
}